[run]
branch = True
source = vayesta
omit = 
        */libs/*
        */test_*.py

[report]
exclude_lines =
    pragma: no cover
    raise RuntimeError
    raise NotImplementedError
    raise AssertionError
    raise ValueError
    pass
    if __name__ == .__main__.:
    except ImportError
    def __repr__
    log.error
    log.critical
