[run]
branch = True
source = vayesta
omit =
        */libs/*
        */tests/*
        */tools/*
        */core/DEL/*

[report]
exclude_lines =
    pragma: no cover
    raise RuntimeError
    raise NotImplementedError
    raise AssertionError
    raise ValueError
    raise AbstractMethodError
    pass
    if __name__ == .__main__.:
    except ImportError
    def __repr__
    log.error
    log.critical
