include MANIFEST.in
include README.md pyproject.toml setup.py CHANGELOG LICENSE

global-exclude *.py[cod]
prune vayesta/libs/build

recursive-include vayesta *.dat
recursive-include vayesta/misc/gmtkn55 *
include vayesta/libs/*.so
include vayesta/logo.txt

# MacOS dynamic libraries
include vayesta/libs/*.dylib

# Source code
prune vayesta/libs/build
recursive-include vayesta/libs *.c *.h CMakeLists.txt
recursive-exclude vayesta/libs *.cl
