name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: python ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - {python-version: "3.7", os: ubuntu-latest, documentation: False}
          - {python-version: "3.8", os: ubuntu-latest, documentation: True}
          - {python-version: "3.9", os: ubuntu-latest, documentation: False}
          - {python-version: "3.10", os: ubuntu-latest, documentation: False}

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip
      - name: Install Vayesta along with dependencies
        run: |
          python -m pip install wheel --user
          python -m pip install setuptools --upgrade --user
          python -m pip install . --user
      - name: Run unit tests
        run: |
          python -m pip install pytest pytest-cov --user
          python .github/workflows/run_tests.py
      - name: Build docs
        run: |
          python -m pip install sphinx==5.0.2 sphinx_rtd_theme
          cd docs
          bash make_apidoc.sh
          make html
          cd ..
        if: matrix.documentation
      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
          force_orphan: true
        if: matrix.documentation && github.ref == 'refs/heads/master'
